@charset "UTF-8";
/* ------- リセット ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-primary);
  background: var(--color-background);
}

html {
  font-size: 16px;
}

main {
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
}

ul,
ol {
  list-style: none;
}

button {
  text-decoration: none;
}

/* ------- 格納用コンテナ ------- */
.scroll-container {
  background: var(--color-background);
  max-width: var(--container-width);
  animation: fadein 3.5s ease-in forwards;
}
@media screen and (min-width: 768px) {
  .scroll-container {
    display: flex;
    position: absolute;
    right: 300px;
  }
}

@keyframes fadein {
  0% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(0);
  }
}
/* ------- 各セクション共通スタイル ------- */
.section-container {
  max-width: var(--container-width);
  padding: 200px 24px;
}
.section-title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}
.section-subtitle {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

h5 {
  letter-spacing: 0.5px;
  font-size: 1rem;
}

/* ------- Desktop用の設定 ------- */
@media screen and (min-width: 768px) {
  .layout {
    width: 100%;
    height: 100%;
    display: flex;
  }
}
/* ------- online shop ------- */
.btn {
  text-align: center;
}
.btn span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  background: var(--color-main);
  color: var(--color-white);
  border-radius: 16px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  .btn span:hover {
    background: var(--color-accent);
    cursor: pointer;
    transition: 0.5s;
  }
}

/* ------- To top  ------- */
.to-top {
  position: fixed;
  bottom: 20px; /* 下端から20pxの位置 */
  right: 30px; /* 右端から20pxの位置 */
  z-index: 200; /* 他の要素の上に表示 */
}
.to-top img {
  width: 24px;
}
@media screen and (min-width: 768px) {
  .to-top {
    right: 330px;
  }
}

/* ------- ヘッダー・ロゴ ------- */
.site-header {
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;
}
.site-header__logo img {
  width: 80%;
}
.site-header p {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .site-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site-header__logo {
    text-align: center;
  }
  .site-header__logo img {
    width: 40%;
  }
  .site-header p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 24px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.5em;
  }
}

/* ------- ナビゲーション ------- */
.site-nav__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .site-nav__container {
    width: 300px;
    height: 100vh;
    right: 300px;
    left: auto;
  }
}

/* ------- ナビゲーション ------- */
.site-nav__content {
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  transform: translateX(100%);
  transition: 0.6s var(--easeing);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-nav-checkbox:checked ~ .site-nav__content {
  transform: translateX(0);
}
.site-nav__content-nav {
  margin-top: 100px;
  text-align: center;
}
.site-nav__content-nav li {
  margin-bottom: 2rem;
}
.site-nav__content-nav li a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 400;
}
.site-nav__content-shop {
  margin: 2rem;
}
.site-nav__content-sns {
  margin: 60px 40px 0;
  display: flex;
  gap: 1rem;
  flex: 0.5;
}
.site-nav__content-sns img {
  width: 24px;
}
@media screen and (min-width: 768px) {
  .site-nav__content-nav {
    text-align: start;
    flex: 2;
    align-items: flex-start;
    text-align: start;
  }
  .site-nav__content-nav a {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
  }
  .site-nav__content-nav a::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: var(--color-white);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s var(--easeing);
    transform-origin: right center;
  }
  .site-nav__content-nav a:hover::after, .site-nav__content-nav a.active::after {
    transform: scaleX(1);
    transform-origin: left center;
  }
  .site-nav__content-nav-shop a {
    color: var(--color-accent);
    cursor: pointer;
    transition: 0.5s;
  }
  .site-nav__content-sns {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  .site-nav__content-sns a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
  }
  .site-nav__content-sns a:hover::before {
    scale: 1.2;
  }
  .site-nav__content-sns a::before {
    content: "";
    transition: scale 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    position: absolute;
    inset: -4px 0 4px 0;
    display: block;
    background: var(--color-main);
    border-radius: 50%;
    z-index: -3;
    scale: 0;
    pointer-events: none;
  }
}

/* ------- ./ナビゲーション ------- */
/* ------- ハンバーガーボタン ------- */
.site-nav-toggle {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 300;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-nav-toggle::before, .site-nav-toggle::after,
.site-nav-toggle span {
  content: "";
  height: 2px;
  width: 40px;
  background-color: var(--color-white);
  position: absolute;
  transition: 0.4s var(--easeing);
}
.site-nav-toggle span {
  transform-origin: left center;
}
.site-nav-toggle::before {
  top: calc(50% - 12px);
}
.site-nav-toggle::after {
  top: calc(50% + 12px);
}
.site-nav-checkbox:checked ~ .site-nav-toggle span {
  transform: scaleX(0);
}
.site-nav-checkbox:checked ~ .site-nav-toggle::before {
  top: 50%;
  transform: rotate(45deg);
  background-color: var(--color-white);
}
.site-nav-checkbox:checked ~ .site-nav-toggle::after {
  top: 50%;
  transform: rotate(-45deg);
  background-color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .site-nav-toggle {
    display: none;
  }
}

.site-nav-checkbox {
  display: none;
}

/* ------- ./ハンバーガーボタン ------- */
/* ------- slide ------- */
.slide {
  visibility: visible !important;
  opacity: 1 !important;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -2;
}
.slide__img img {
  height: 100vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .slide__img img {
    width: 100%;
  }
}

/* ------- ./slide ------- */
.main-visual {
  position: relative;
  z-index: 2;
  max-width: var(--container-width);
  height: 100vh;
  left: 0;
  top: 0;
}
.main-visual__header {
  width: 100%;
  height: 100px;
  background: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-visual__header img {
  width: 100px;
}
.main-visual__title {
  display: flex;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  padding-left: 24px;
}
.main-visual__title h2 {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-bottom: 1rem;
}
.main-visual__title p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.main-visual__scroll {
  position: absolute;
  width: 100%;
  bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-visual__scroll-text {
  letter-spacing: 0.2em;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.main-visual__scroll-line {
  position: absolute;
  margin-top: 1rem;
  top: 30px;
  left: 50%;
  width: 2px;
  height: 100px;
  overflow: hidden;
  background-color: var(--color-main);
}
.main-visual__scroll-line::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: var(--color-background);
  animation: scrolldown 1.4s ease-in-out infinite;
}
@keyframes scrolldown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.tec__container {
  margin-top: 64px;
}
.tec__container-top {
  position: relative;
}
.tec__container-top-heading {
  position: absolute;
  top: 20px;
  right: 1rem;
  color: var(--color-white);
  letter-spacing: 0.2em;
  font-size: 24px;
  font-weight: 500;
  text-align: end;
}
.tec__container-bottom {
  position: relative;
}
.tec__container-bottom-heading {
  position: absolute;
  bottom: 240px;
  left: 1rem;
  color: var(--color-white);
  letter-spacing: 0.2em;
  font-size: 24px;
  font-weight: 500;
  text-align: start;
}
.tec__container-desc p {
  letter-spacing: 0.2em;
  font-size: 14px;
}

.products {
  display: flex;
  flex-direction: column;
}
.products__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
}
.products__wrapper:last-child {
  margin-bottom: 0;
}
.products__wrapper img {
  width: 100px;
  margin: 24px 0;
}
.products__wrapper h4 {
  margin-bottom: 1rem;
}
.products__wrapper p {
  font-size: 0.975rem;
}

/* ------- swiperの設定 ------- */
.swiper {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.swiper-wrapper {
  width: 100%;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  z-index: 1;
  box-sizing: content-box;
  transition-property: transform;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-txt {
  position: absolute;
  bottom: 30px;
  right: 10px;
  padding: 5px;
}
.swiper-txt p {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-text);
}
.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  margin: 0 8px !important;
  background-color: var(--color-main);
}

.sample-slider img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.online-shop {
  display: flex;
  margin: 0 auto;
  background: url(../img/bg_warter.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  position: relative;
  align-items: center;
}

.story__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 24px 0;
}
.story__container > *:first-child {
  margin-top: 0;
}
.story__container > *:last-child {
  margin-bottom: 0;
}
.story h5 {
  margin-bottom: 16px;
}
.story p {
  margin-bottom: 32px;
  letter-spacing: 0.1em;
  line-height: 1.6;
}
.story img {
  margin: 32px 0;
}

.faq__content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.faq__content-title {
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.faq__content-instructions {
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}
.faq__content-note {
  font-size: 0.8rem;
  line-height: 1.3;
}
.faq__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  border: none;
  background: none;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  font-family: var(--font-primary);
  text-decoration: none;
}
.faq__open {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-out;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

/* ------- Footer ------- */
.site-footer {
  width: 100%;
  height: 400px;
  background: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.site-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer__content a,
.site-footer__content small,
.site-footer__content span {
  color: var(--color-white);
}
.site-footer__content a {
  text-decoration: none;
}
.site-footer__content small {
  margin-top: 10px;
}

:root {
  --font-primary: "Noto Sans JP", sans-serif;
  --color-background: rgba(246, 246, 246, 0.9);
  --color-text: #2c2c2c;
  --color-accent: #847484;
  --color-main: #005864;
  --color-box: #d9d9d9;
  --color-white: #fffeff;
  --container-width: 390px;
  --easeing: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}/*# sourceMappingURL=style.css.map */