@use './mixins' as *;

/* ------- リセット ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-primary);
  background: var(--color-background);
}

html {
  font-size: 16px;
}

main {
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
}

ul,
ol {
  list-style: none;
}

button {
  text-decoration: none;
  color: var(--color-text);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:target {
  scroll-margin-top: -150px;
}
/* ------- 格納用コンテナ ------- */
.scroll-container {
  background: var(--color-background);
  max-width: var(--container-width);

  @include mq {
    display: flex;
    position: absolute;
    background: var(--color-background);
    right: 300px; //ナビゲーション分
  }

  animation: fadein 2s ease-in forwards;
}

@keyframes fadein {
  0% {
    transform: translateY(90vh);
  }

  100% {
    transform: translateY(0);
  }
}

/* ------- 各セクション共通スタイル ------- */
.section {
  &-container {
    max-width: var(--container-width);
    padding: 200px 24px;
  }

  &-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    @include flex-center-center;
    margin-bottom: 56px;
  }

  &-subtitle {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
  }
}

h5 {
  letter-spacing: 0.5px;
  font-size: 1rem;
}

/* ------- Desktop用の設定 ------- */
@include mq {
  .layout {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

/* ------- online shop ------- */
.btn {
  text-align: center; //中央に配置

  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    min-height: 60px;
    background: var(--color-main);
    transition: background-color 0.6s var(--easeing), color 0.6s var(--easeing);
    color: var(--color-white);
    border-radius: 16px;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: (5px 5px 10px rgba(0, 0, 0, 0.4));

    @include mq {
      &:hover {
        background: var(--color-accent);
        cursor: pointer;
        transition: 0.6s var(--easeing) 0s;
      }
    }
  }
}

/* ------- To top  ------- */
.to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 200;
  img {
    width: 24px;
  }

  @include mq {
    right: 330px;
  }
}

/* ------- ヘッダー・ロゴ ------- */
.site-header {
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;

  &__logo {
    img {
      width: 80%;
    }
  }

  p {
    display: flex;
    justify-content: center;
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.2em;
  }

  @include mq {
    @include flex-center-center;

    &__logo {
      text-align: center;

      img {
        width: 40%;
      }
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
      margin: 24px;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 0.5em;
    }
  }
}

/* ------- ナビゲーションコンテナ ------- */
.site-nav__container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 400;

  @include mq {
    width: 300px;
    height: 100vh;
    right: 300px;
    left: auto;
  }
}

/* ------- ナビゲーション ------- */
.site-nav {
  &__content {
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center; //主軸の中央になる
    transform: translateX(100%); //隠しておく
    transition: 0.6s var(--easeing); //表示させるときのアニメーション
    @include flex-center-column;

    .site-nav-checkbox:checked ~ & {
      transform: translateX(0); //表示させる
    }

    &-nav {
      margin-top: 54px;
      text-align: center; //文字が中央揃えになる
      flex: 1;

      li {
        margin-bottom: 2rem; //2文字文 bodyのフォントサイズ remでもいい

        a {
          color: var(--color-white);
          text-decoration: none; //下線をなくす
          font-size: 1.1rem; //少し大きく
          text-transform: uppercase; //大文字にする
          letter-spacing: 0.25em;
          font-weight: 400;
        }
      }
    }

    &-shop {
      margin: 1rem;
      flex: 1;
    }

    &-sns {
      margin: auto;
      display: flex;
      gap: 1rem;
      flex: 1;

      img {
        width: 24px;
      }
    }
  }

  @include mq {
    &__content {
      &-nav {
        text-align: start;
        flex: 2;
        align-items: flex-start; //上端に揃える
        text-align: start;

        a {
          font-size: 1rem;
          position: relative; //afterのabsoluteの為にrelativeをかける
          display: inline-block; //テキストの下に余白を作るためblockレベル要素にするblockだけにすると横に要素のエリアが広がる
          padding-bottom: 3px;

          &::after {
            content: '';
            height: 1px;
            width: 100%;
            position: absolute;
            background-color: var(--color-white);
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transition: transform 0.3s var(--easeing); //animetionを追加
            transform-origin: right center;
          }

          &:hover::after,
          &.active::after {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }
      }

      &-sns {
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;

        a {
          position: relative;
          @include flex-center-column;
          width: 2rem;
          height: 2rem;
          text-decoration: none;

          &:hover::before {
            scale: 1.2;
          }
          &::before {
            content: '';
            transition: scale 0.6s var(--easeing) 0s;
            position: absolute;
            inset: -4px 0 4px 0;
            display: block;
            background: var(--color-main);
            border-radius: 50%;
            z-index: -3;
            scale: 0;
            pointer-events: none;
          }
        }
      }
    }
  }
}

/* ------- ハンバーガーボタン ------- */
.site-nav-toggle {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 500; //手前に持ってくる
  top: 14px; //上からの位置
  right: 14px; //右からの位置
  @include flex-center-center;

  //spanにアニメーションをかけたいのでlabelにbefore,afterをかける
  &::before,
  &::after,
  span {
    content: '';
    height: 2px;
    width: 40px;
    background-color: var(--color-white);
    position: absolute; //重なって左上にまとまる=>親にflex以下をかける
    transition: 0.4s var(--easeing); //span:transform記述=>動きをつけておく
  }

  span {
    transform-origin: left center; //transformの基準点を変える=>真ん中の線の挙動
  }

  &::before {
    top: calc(50% - 12px); //topで真ん中からどれくらいか指定する
  }

  &::after {
    top: calc(50% + 12px);
  }

  .site-nav-checkbox:checked ~ & {
    span {
      transform: scaleX(0); //scaleは比率を書く
    }
    &::before {
      top: 50%; //=>中央に戻す
      transform: rotate(45deg); //45°回転する
      background-color: var(--color-white);
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      background-color: var(--color-white);
    }
  }

  @include mq {
    display: none;
  }
}

.site-nav-checkbox {
  display: none;
}

/* ------- slide ------- */
.slide {
  visibility: visible !important;
  opacity: 1 !important;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -2; // とテキストが前面に来るように

  &__img {
    img {
      height: 100vh;
      width: auto;
      object-fit: cover;

      @include mq {
        width: 100%;
      }
    }
  }
}

/* ------- main-visual=>TOP ------- */
.main-visual {
  position: relative;
  z-index: 2;
  max-width: var(--container-width);
  background-image: url(../img/mv-sp.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  left: 0;
  top: 0;

  &__header {
    width: 100%;
    height: 100px;
    background: var(--color-main);
    @include flex-center-center;

    img {
      width: 100px;
    }
  }
  &__title {
    display: flex;

    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    padding-left: 24px;

    h2 {
      font-size: 2rem;
      letter-spacing: 0.3em;
      margin-bottom: 1rem;
      color: var(--color-white);
    }
    p {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.1em;
      color: var(--color-white);
    }
  }

  &__scroll {
    position: absolute;
    width: 100%;
    bottom: 20%;
    @include flex-center-center;

    &-text {
      letter-spacing: 0.2em;
      font-size: 0.7rem;
      text-transform: uppercase;
      color: var(--color-white);
    }

    &-line {
      position: absolute;
      margin-top: 1rem;
      top: 30px;
      left: 50%;
      width: 2px;
      height: 100px;
      overflow: hidden;
      background-color: var(--color-main);

      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100px;
        background-color: var(--color-background);
        animation: scrolldown 1.4s ease-in-out infinite;

        @keyframes scrolldown {
          0% {
            transform: translateY(-100%);
          }

          100% {
            transform: translateY(100%);
          }
        }
      }
    }
  }
  @include mq {
    background-image: none;
    &__title {
      h2,
      p {
        color: var(--color-text);
      }
    }
    &__scroll {
      &-text {
        color: var(--color-text);
      }
    }
  }
}

/* ------- Technology ------- */
.tec {
  &__container {
    margin-top: 64px;

    &-top {
      position: relative;

      &-heading {
        position: absolute;
        top: 20px;
        right: 1rem;
        color: var(--color-white);
        letter-spacing: 0.2em;
        font-size: 24px;
        font-weight: 500;
        text-align: end; //文字を右寄せにする
      }
    }
    &-bottom {
      position: relative;

      &-heading {
        position: absolute;
        bottom: 240px;
        left: 1rem;
        color: var(--color-white);
        letter-spacing: 0.2em;
        font-size: 24px;
        font-weight: 500;
        text-align: start; //文字を左寄せにする
      }
    }

    &-desc {
      p {
        letter-spacing: 0.2em;
        font-size: 14px;
      }
    }
  }
}

/* ------- products ------- */
.products {
  display: flex;
  flex-direction: column;
  &__wrapper {
    @include flex-center-column;
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 100px;
      margin: 24px 0;
    }

    h4 {
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.975rem;
      letter-spacing: 0.2em;
      line-height: 1.6;
    }
  }
}

/* ------- swiperの設定 ------- */
.swiper {
  width: 100%;
  height: 300px;
  margin: 0 auto;

  &-wrapper {
    width: 100%;
    top: 0;
    left: 0;
    list-style: none;
    padding: 0;
    z-index: 1;
    box-sizing: content-box;
    transition-property: transform;
  }

  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; //textの為
  }
  &-item {
    position: relative; //相対位置に指定
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-txt {
    position: absolute;
    bottom: 30px;
    right: 10px;
    padding: 5px;
    p {
      display: block;
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--color-text);
    }
  }

  &-pagination-bullet {
    width: 4px; //paginationのサイズ変更
    height: 4px;
    margin: 0 8px !important; //paginationの間隔変更
    background-color: var(--color-main); //main-colorに変更
  }
}
.sample-slider img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/* ------- story ------- */
.story {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px; // Flexboxのgapプロパティを使用して、要素間に20pxのスペースを追加
    margin: 24px 0;

    > *:first-child {
      margin-top: 0; // 最初の子要素の上マージンを取り除く
    }
    > *:last-child {
      margin-bottom: 0; // 最後の子要素の下マージンを取り除く
    }
  }
  h5 {
    margin-bottom: 16px; // 最初の要素に余白を追加
  }

  p {
    margin-bottom: 32px; // 段落要素間に余白を追加
    letter-spacing: 0.1em;
    line-height: 1.6;
  }

  img {
    margin: 32px 0;
  }
}

/* ------- FAQ ------- */
.faq {
  &__content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &-title {
      letter-spacing: 0.1em;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    &-instructions {
      letter-spacing: 0.1em;
      margin-bottom: 1rem;
    }
    &-note {
      font-size: 0.8rem;
      line-height: 1.3;
    }
  }
  &__button {
    display: flex;
    justify-content: flex-start; //左寄せ
    align-items: center; //垂直中央に配置
    width: 100%;
    padding: 2rem 0;
    border: none;
    background: none;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    font-family: var(--font-primary);
  }

  &__open {
    transform: rotate(-90deg); //初期状態
    transition: transform 0.3s ease-out;

    width: 20px; // サイズ調整、必要に応じて
    height: 20px; // サイズ調整、必要に応じて
    margin-right: 1rem;
  }
}

/* ------- Footer ------- */
.site-footer {
  width: 100%;
  height: 200px;
  background: var(--color-main);
  @include flex-center-center;
  text-align: center; // テキストを中央揃え

  &__content {
    @include flex-center-column;

    a,
    small,
    span {
      color: var(--color-white);
    }
    a {
      text-decoration: none;
    }
    small {
      margin-top: 10px; // プライバシーポリシーのリンクと著作権情報の間に少しスペースを作る
    }
  }
}
