:root {
  --font-primary: 'Noto Sans JP', sans-serif;
  --color-background: rgba(246, 246, 246, 0.9);
  --color-text: #2c2c2c;
  --color-accent: #cd6799;
  --color-main: #005864;
  --color-box: #d9d9d9;
  --color-white: #fffeff;
  --container-width: 390px;
}
